.eventsPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .card {
        position: relative;

        h2 {
            position: absolute;
            width: 100%;
            top: 50%;
            text-align: center;
            font-size: 20px;
            color: white;
            text-transform: uppercase;
            text-shadow: 1px 1px 20px black;
        }
    }
}

.catEvents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        width: 100%;

        .card {
            display: flex;
            flex-direction: column;
            max-width: 300px;
            gap: 10px;
        }
    }
}

.idEvents {
    width: 100%;
    column-gap:50px;

    .email_registration {
        margin-top: 15px;

        label {
            display: flex;
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 800;
            text-transform: uppercase;
            margin-top: 25px;
        }

        .input {
            height: 40px;
            min-width: 230px;
            border-radius: 5px;
            border: 1px solid rgb(106, 156, 106);
            font-size: 20px;
        }

        button{
            height: 40px;
            min-width: 80px;
            border-radius: 5px;
            border: 1px solid rgb(106, 156, 106);
            background-color: rgb(108, 167, 147);
            text-transform: uppercase;
            margin-left: 5px;
            font-size: 20px;
            padding: 0px 5px;
            cursor: pointer;
            transition: 0.3s;

            &:hover{
                background-color: rgb(106, 156, 106);
            }
        }
    }
}