.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
    background: linear-gradient(45deg, #adefd9, transparent);
    padding: 15px;
    color: antiquewhite;
    h1{
        width: 80%;
        font-size: 30px;
        text-transform: uppercase;
    }
}

.topNav {
    display: flex;
    justify-content: space-between;
    align-content: center;

    ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        gap: 15px;

        li {
            cursor: pointer;
            font-weight: 600;
            font-size: x-large;
        }
    }
}

.logo{
    color: aliceblue;
}